/* Устанавливает шрифт для всего документа */
body {
    font-family: Arial, sans-serif;
    /* Создает градиентный фон для всего документа */
    background: linear-gradient(to right, #ffffff, #e1e1e1);
    /* Устанавливает цвет текста для всего документа */
    color: #333;
}

/* Стили для формы */
form {
    /* Максимальная ширина формы */
    max-width: 600px;
    /* Центрирует форму по горизонтали и добавляет отступ сверху */
    margin: 50px auto;
    /* Внутренний отступ вокруг содержимого формы */
    padding: 20px;
    /* Фон формы */
    background: #fff;
    /* Скругление углов формы */
    border-radius: 10px;
    /* Добавляет тень вокруг формы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Использует Flexbox для управления расположением элементов внутри формы */
    display: flex;
    /* Указывает, что элементы должны быть расположены в колонку */
    flex-direction: column;
    /* Центрирует элементы внутри формы по горизонтали */
    /* align-items: center; */
}

/* Стили для меток */
label {
    /* Отображает метки как блочные элементы */
    display: block;
    /* Добавляет отступ снизу для меток */
    margin-bottom: 5px;
    /* Выравнивает текст меток по левому краю */
    text-align: left;
}



/* Стили для полей ввода */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="tel"] {
    /* Устанавливает ширину полей ввода на 100% от ширины родительского элемента */
    width: 97%;
    /* Добавляет внутренний отступ внутри полей ввода */
    padding: 10px;
    /* Добавляет отступ снизу для полей ввода */
    margin-bottom: 20px;
    /* Устанавливает границу для полей ввода */
    border: 1px solid #ddd;
    /* Скругление углов полей ввода */
    border-radius: 5px;
}

/* Стили для кнопки отправки */
input[type="submit"] {
    /* Градиентный фон для кнопки */
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    /* Цвет текста кнопки */
    color: #fff;
    /* Убирает границу кнопки */
    border: none;
    /* Скругление углов кнопки */
    border-radius: 5px;
    /* Внутренний отступ внутри кнопки */
    padding: 10px 20px;
    /* Изменяет курсор при наведении на кнопку */
    cursor: pointer;
    /* Добавляет плавную анимацию при изменении фона */
    transition: background 0.3s ease;
    /* Устанавливает ширину кнопки на 100% от ширины родительского элемента */
    width: 100%;
    /* Устанавливает высоту кнопки */
    height: 50px;
    /* Устанавливает размер шрифта кнопки */
    font-size: 18px;
    /* Ограничивает текст кнопки, если он не помещается */
    text-overflow: ellipsis;
}

/* Стили для кнопки отправки при наведении */
input[type="submit"]:hover {
    /* Изменяет фон кнопки при наведении */
    background: linear-gradient(to right, #feb47b, #ff7e5f);
}

/* Стили для кнопки отправки при нажатии */
input[type="submit"]:active {
    /* Изменяет размер кнопки при нажатии */
    transform: scale(0.98);
}
