/* Стили для навигационного меню */
nav ul {
  list-style-type: none; /* Убираем маркеры у списка */
  margin: 0; /* Убираем отступы у списка */
  padding: 0; /* Убираем внутренние отступы у списка */
  overflow: hidden; /* Создаем скрытую область для меню */
  background-color: #333; /* Цвет фона меню */
}

nav li {
  float: left; /* Выравниваем элементы списка горизонтально */
  width: 25%; /* Устанавливаем ширину каждого элемента в 25% ширины родителя */
}

nav li a {
  display: block; /* Делаем ссылки блочными элементами */
  color: white; /* Цвет текста ссылок */
  text-align: center; /* Выравниваем текст по центру */
  padding: 5%; /* Добавляем отступы внутри ссылок */
  text-decoration: none; /* Убираем подчеркивание у ссылок */
}

nav li a:hover {
  background-color: #111; /* Изменяем цвет фона при наведении на ссылку */
}

/* Стили для Header */
.header {
  z-index: 3; /* Устанавливаем слой для элемента */
  position: fixed; /* Фиксируем позицию элемента */
  top: 0; /* Размещаем элемент вверху страницы */
  left: 0; /* Размещаем элемент в левом углу */
  width: 100%; /* Занимаем всю доступную ширину */
}

/* Стили для заголовка компании */
.header_company {
  display: block; /* Делаем элемент блочным */
  color: white; /* Цвет текста */
  text-align: center; /* Выравнивание текста по центру */
  padding: 0.5%; /* Отступы внутри элемента */
  text-align: right; /* Выравнивание текста по правому краю */
  float: right; /* Выравнивание элемента по правому краю */
  font-size: 36px; /* Размер шрифта */
  font-weight: bold; /* Жирное начертание */
  color: #141c76; /* Цвет текста */
  text-shadow: 0px 0px 0 #ccc, 1px 1px 0 #ffffff, 3px 3px 0 #7677c8; /* Тень текста */
}

/* Стили для Body */
body {
  background-image: url("../images/fon.jpg"); /* Фоновое изображение */
  width: 100%; /* Занимаем всю доступную ширину */
  height: 100%; /* Занимаем всю доступную высоту */
  background-size: auto; /* Размер фонового изображения */
  margin: 0; /* Убираем внешние отступы */
}

/* Стили для текстовых полей */
.text-field {
  width: 96%; /* Ширина поля */
  height: 100%; /* Высота поля */
  margin-top: 5%; /* Внешний отступ сверху */
  margin-left: 1%; /* Внешний отступ слева */
  background-color: #fae6cf; /* Цвет фона */
  box-shadow: 0 0 14px rgba(2, 0, 10, 0.1); /* Тень */
  border-radius: 5%; /* Скругление углов */
  padding-left: 1%; /* Внутренний отступ слева */
  padding-right: 1%; /* Внутренний отступ справа */
}

.text-field h1 {
  text-align: center; /* Выравнивание заголовка по центру */
  color: #070707; /* Цвет текста */
}


.text-field p {
  color: #393838; /* Цвет текста */
  line-height: 1.6; /* Межстрочный интервал */
  font-size: 25px; /* Размер шрифта */
}

/* Стили для контейнера изображений */
.image-container {
  display: grid; /* Устанавливаем сетку для контейнера */
  grid-template-columns: 50% 50%; /* Две колонки одинаковой ширины */
  gap: 6%; /* Расстояние между колонками */
  height: 100%; /* Высота контейнера равна высоте окна просмотра */
}

/* Стили для изображения в зале 1 */
.zal {
  max-width: 90%; /* Максимальная ширина изображения */
  height: 70%; /* Высота изображения */
  object-fit: cover; /* Изображение масштабируется, чтобы заполнить всю ячейку */
  transition: transform 0.3s ease; /* Добавляем плавный переход */
  background: linear-gradient(to right, #000, #fff); /* Градиент для фона */
  box-shadow: 0 0 50px rgba(255, 255, 0, 0.745); /* Тень для эффекта свечения */
  border-radius: 10px; /* Скругление углов */
}

/* Стили для изображения в зале 2 */
.zal2 {
  max-width: 120%; /* Максимальная ширина изображения */
  max-height: 70%; /* Максимальная высота изображения */
  object-fit: cover; /* Изображение масштабируется, чтобы заполнить всю ячейку */
  transition: transform 0.3s ease; /* Добавляем плавный переход */
  background: linear-gradient(to right, #000, #fff); /* Градиент для фона */
  box-shadow: 0 0 50px rgba(255, 255, 0, 0.745); /* Тень для эффекта свечения */
  border-radius: 10px; /* Скругление углов */
}

/* Эффекты при наведении на изображения */
.zal:hover,
.zal2:hover {
  transform: scale(1.05); /* Увеличиваем изображение на 5% */
  box-shadow: 0 0 30px rgb(255, 123, 0); /* Изменяем тень при наведении */
}

/* Медиа-запрос для уменьшения масштаба */
@media screen and (max-width: 600px) {
  .image-container {
      grid-template-columns: 1fr; /* Изменяем количество колонок при уменьшении масштаба */
  }
}

/* Стили для модального окна */
.modal {
  display: none; /* Скрываем модальное окно по умолчанию */
  position: fixed; /* Фиксируем позицию */
  z-index: 1; /* Устанавливаем слой */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 244, 141, 0.4); /* Черный фон с прозрачностью */
  text-align: center; /* Выравниваем текст по центру */
}

.modal-content {
  background-color: #d4f8c8; /* Цвет фона контента модального окна */
  margin: 15% auto; /* Внешние отступы */
  padding: 20px; /* Внутренние отступы */
  width: 80%; /* Ширина контента */
  box-shadow: 0 0 50px rgba(255, 255, 0, 0.745); /* Тень для эффекта свечения */
  border-radius: 10px; /* Скругление углов */
}

.close {
  color: #aaa; /* Цвет текста кнопки закрытия */
  float: right; /* Выравниваем кнопку закрытия справа */
  font-size: 28px; /* Размер шрифта */
  font-weight: bold; /* Жирное начертание */
}

.close:hover,
.close:focus {
  color: black; /* Изменяем цвет текста при наведении */
  text-decoration: none; /* Убираем подчеркивание при наведении */
  cursor: pointer; /* Изменяем курсор при наведении */
}

/* Стили для карты */
#map {
  width: 100%; /* Ширина карты */
  height: 100%; /* Высота карты */
}

/* Страница с товарами */

/* Стили для контейнера товаров */
.product-container {
  display: grid; /* Используем сетку для расположения товаров */
  grid-template-columns: repeat(3, 1fr); /* Три колонки одинаковой ширины */
  gap: 5%; /* Расстояние между товарами */
  margin: 5%; /* Внешние отступы контейнера */
  width: 90%; /* Ширина контейнера */
}

/* Стили для товара */
.product {
  display: flex; /* Используем flexbox для внутреннего расположения элементов товара */
  flex-direction: column; /* Столбцовая ориентация элементов */
  border: 1px solid #ccc; /* Граница товара */
  padding: 1%; /* Внутренние отступы */
  width: 100%; /* Ширина товара */
  background-color: rgba(255, 238, 86, 0.6); /* Цвет фона товара */
  box-shadow: 0 0 50px rgba(255, 255, 0, 0.5); /* Тень для эффекта свечения */
}

/* Эффект при наведении на товар */
.product:hover {
  transform: scale(1.05); /* Увеличение размера товара на 5% */
  box-shadow: 0 0 30px rgb(255, 123, 0); /* Изменение тени при наведении */
}

/* Стили для изображения товара */
.product img {
  width: 100%; /* Ширина изображения */
  height: 300px; /* Высота изображения */
}

/* Стили для описания товара */
.product-description {
  flex-grow: 1; /* Растягиваем описание товара на всю доступную ширину */
}

/* Стили для модального окна товара */
.modal-tovar {
  display: none; /* Скрываем модальное окно по умолчанию */
  position: fixed; /* Фиксируем позицию модального окна */
  width: 100%; /* Ширина модального окна */
  height: 100%; /* Высота модального окна */
  overflow: auto; /* Включаем прокрутку при необходимости */
  background-color: rgba(255, 244, 141, 0.4); /* Цвет фона модального окна */
  text-align: center; /* Выравниваем текст по центру */
}

/* Стили для контента модального окна */
.modal-content {
  background-color: #d4f8c8; /* Цвет фона контента */
  margin: 15% auto; /* Внешние отступы */
  padding: 20px; /* Внутренние отступы */
  width: 25%; /* Ширина контента */
  box-shadow: 0 0 50px rgba(255, 255, 0, 0.745); /* Тень для эффекта свечения */
  border-radius: 10px; /* Скругление углов */
}

/* Стили для кнопки закрытия модального окна */
.close {
  color: #aaa; /* Цвет текста кнопки */
  float: right; /* Выравнивание кнопки справа */
  font-size: 28px; /* Размер шрифта */
  font-weight: bold; /* Жирное начертание */
}

.close:hover,
.close:focus {
  color: black; /* Изменение цвета текста при наведении */
  text-decoration: none; /* Убираем подчеркивание */
  cursor: pointer; /* Изменение курсора при наведении */
}

/* Стили для кнопки заказа */
.order-button {
  margin: 5% 25%; /* Отступы кнопки */
  display: inline-block; /* Отображаем как блочный элемент */
  white-space: nowrap; /* Запрещаем перенос строк */
  padding: 1% 20%; /* Внутренние отступы */
  font-size: 24px; /* Размер шрифта */
  cursor: pointer; /* Изменяем курсор */
  text-align: center; /* Выравниваем текст по центру */
  text-decoration: none; /* Убираем подчеркивание */
  outline: none; /* Убираем контур кнопки */
  color: #fff; /* Цвет текста */
  background-color: #4CAF50; /* Цвет фона */
  border: none; /* Убираем границы */
  border-radius: 15px; /* Скругляем углы */
  box-shadow: 0 9px #999; /* Тень кнопки */
}

/* Эффект при наведении на кнопку заказа */
.order-button:hover {
  background-color: #3e8e41; /* Изменяем цвет фона при наведении */
}


/* Эффект при активации кнопки заказа */
.order-button:active {
  background-color: #3e8e41; /* Изменяем цвет фона */
  box-shadow: 0 5px #666; /* Тень при нажатии */
  transform: translateY(4px); /* Смещаем кнопку вниз при нажатии */
}